label {
	font-size: 1.2em;
	min-width: 60px;
	line-height: 42px;
	margin-bottom: 0 !important;
	margin-right: 2px;
}

#addressbookContentHolder {
	strong {
		color: #fff;
	}
}

.addressbook-address-group + .addressbook-address-group {
	margin-top: 0.75rem;
}
