.div-striped-holder > div:nth-child(odd) > div {
  	background-color: var(--striped-1);
}

label {
	font-size: 1.2em;
	min-width: 60px;
	line-height: 42px;
	margin-bottom: 0 !important;
	margin-right: 2px;
}