#blockDataLeft > div:nth-child(odd), #blockDataRight > div:nth-child(odd), .block-tx-holder > div:nth-child(odd), #blockExtension > div:nth-child(odd) {
	background-color: var(--striped-1);
}

.block-tx-holder > div {
	border-radius: 0;
}

#adProofs {
	overflow-wrap: anywhere;
}