$orange-color: #FF5E18;
$orange-color-hover: #FF8418;
$gray-color: #AAAAAA;

//Global properties
body {
	padding-bottom: 30px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

@font-face {
	font-family: "DejaVu";
	src: url('../fonts/DejaVuSansMono.ttf');
}

pre {
	font-family: 'DejaVu';
}

footer {
  margin-top: auto;
}

h2 {
	color: $gray-color;
	font-weight: bold;
}

p {
	color: $gray-color;
	margin-bottom: 0;
	overflow-wrap: anywhere;
}

table {  
	border: 2px solid $orange-color;
	border-radius: 5px 5px;
	padding: 15px;
}

a {
	text-decoration: none;
	color: $gray-color;
}

a:hover {
	color: $orange-color;
}

.text-white {
	color: #EEE !important;	
}

.text-light {
	color: #999 !important;	
}

//Links
.page-link {
	color: $gray-color;
}

.page-link:hover, .page-link:focus {
	color: $orange-color;
}

.active {
	color: $orange-color !important;
}

//Checkboxes
.checkbox-lg .form-check-input{
 top: .8rem;
 scale: 1.4;
 margin-right: 0.7rem;
 }

.checkbox-lg .form-check-label {
 padding-top: 13px;
 }

.checkbox-xl .form-check-input {
 top: 1.2rem;
 scale: 1.7;
 margin-right: 0.8rem;
 }

.checkbox-xl .form-check-label {
 padding-top: 19px;
 }

 .form-check-input:checked {
 	background: $orange-color;
 }

  .form-check-input:focus {
 	box-shadow: none;
 	border: 1px solid $orange-color;
 }

//Search form
.form-control-lg {
	background-color: #333;
	color: #fff;
	border-color: #333;
}

.form-control:focus {
	background-color: #333;
	box-shadow: none;
	border: 1px solid $orange-color;
}

.form-control:focus {
	color: white !important;
}

select, option {
	text-align: end;
}

@media only screen and (min-width: 0px) {
	#searchInput {
		min-width: 45%;
	}
}

@media only screen and (min-width: 576px) {
	#searchInput {
		min-width: 65%;
	}
}

@media only screen and (min-width: 768px) {
	#searchInput {
		min-width: 65%;
	}
}

@media only screen and (min-width: 992px) {
	#searchInput {
		min-width: 75%;
	}
}

@media only screen and (min-width: 1200px) {
	#searchInput {
		min-width: 80%;
	}
}

@media only screen and (min-width: 1400px) {
	#searchInput {
		min-width: 83%;
	}
}

//Loading
#loadingImg {
	width:150px;
	height:150px;
	animation: pulse 1.5s infinite;
}

#txLoading {
	position: relative;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: black;
}

#txLoadingInner {
	position: absolute;
	display:flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width:100%;
	height:350px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(0.95);
	}
}

//Tables
@media only screen and (max-width: 992px) {
  .table>tbody>tr>td,
  .table>tbody>tr>th,
  .table>tfoot>tr>td,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>thead>tr>th {
    display: block;
    min-width: 100%!important;
  }
  .table>thead>tr>th {
    display: none;
  }
}

#txView {
  display: none;
}

//Switch
@mixin switch($res: 'sm') {
    $index: 1rem;
    $mainVal: 1rem;
  
    @if $res == 'md' {
        $index: 2rem;
        $mainVal: 1.5rem;
    } @else if $res == 'lg' {
        $index: 3rem;
        $mainVal: 2rem;
    } @else if $res == 'xl' {
        $index: 4rem;
        $mainVal: 2.5rem;
    }

    margin-bottom: $index / 2; /* JUST FOR STYLING PURPOSE */

    .form-check-input {
        height: $mainVal;
        width: calc(#{$index} + 0.75rem);
        border-radius: $mainVal * 2;
    }
}

.form-check-input {
  clear: left;
}

// YOU CAN PUT ALL RESOLUTION HERE
// sm - DEFAULT, md, lg, xl

.form-switch.form-switch-sm {
    @include switch();
}

.form-switch.form-switch-md {
    @include switch('md');
}

.form-switch.form-switch-lg {
    @include switch('lg');
}

.form-switch.form-switch-xl {
    @include switch('xl');
}

//Other
.main-heading {
	margin-bottom: 10px;
}

.erg-span {
	color: $orange-color;
}

.erg-span-important {
	color: $orange-color !important;
}

.erg-span-important:after {
	color: $gray-color;
}

.row {
	margin: 0 !important;
}

.text-primary {
	color: $orange-color;
}

.div-cell {
	border: 1px solid #666;
	border-radius: 5px 5px;
	padding: 15px;
}

.div-summary {
	border: 2px solid $orange-color;
	border-radius: 5px 5px;
	padding: 15px; 
}

.navbar-brand span {
	line-height: 32px;
	vertical-align: bottom;
}

#dropdown > a {
	border: 0;
	box-shadow: none;
	line-height: 28px;
}

#dropdown > ul {
	background-color: #333;
}

#dropdown > ul > li > a:hover {
	background-color: $orange-color;
}

#rightNav {
	visibility: hidden;
}

.gray-color {
	color: $gray-color;
}

.btn-primary {
	background-color: #555;
	border-color: #555;
}

.btn-primary:hover {
	background-color: $orange-color;
	border-color: $orange-color;
}

.btn-info {
	background-color: $orange-color;
	color: black;
	border: none;
}

.btn-info:hover, .btn-info:focus {
	background-color: $orange-color-hover;
	color: black;
}

.btn-info:focus {
	box-shadow: none;
}

.footer {
	background-color: #333;
	color: #999;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.token-icon {
	width: 20px;
	height: 20px;
	line-height: 25px;
	padding-bottom: 3px;
}

.tokenDescriptionPre {
	overflow-wrap: anywhere;
	white-space: inherit;
	margin: 0;
}

.stripedHolder > div:nth-child(odd) {
	background-color: #454545;
}

.stripedHolderEven > div:nth-child(even) {
	background-color: #454545;
}

.pre-ascii {
	line-height: 1;
}