//Global properties
body {
	padding-bottom: 30px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--background);
}

@font-face {
	font-family: "DejaVu";
	src: url('../../fonts/DejaVuSansMono.ttf');
}

button:focus:not(:focus-visible) {
	box-shadow: unset !important;
	outline: unset !important;
}

select {
	border: none !important;
	outline: none !important;
}

select:focus {
	border: 1px solid var(--main-color) !important;
}

pre, td, th, select, option, .btn, .dropdown-item {
	color: var(--text-strong) !important;
}

pre {
	font-family: 'DejaVu';
}

footer {
  margin-top: auto;
  background-color: var(--forms-bg) !important;
}

h2 {
	color: var(--text-strong);
	font-weight: bold;
}

h3 {
	color: var(--main-color);
}

p {
	color: var(--text-color);
	margin-bottom: 0;
	overflow-wrap: anywhere;
}

table {  
	border: 1px solid var(--borders) !important;
	border-radius: 5px 5px;
	padding: 15px;
}

tbody {
	border-top: 2px solid var(--main-color) !important;
}

.bg-forms {
  background-color: var(--forms-bg) !important;
}

.bg-footer {
  background-color: var(--footer) !important;
}

.bg-background {
  background-color: var(--background) !important;
}

.table > :not(caption) > * > * {
	background-color: var(--forms-bg) !important;
}

.table-dark {
	--bs-table-striped-bg: var(--striped-1);
	border-color: var(--borders);
}

.table-striped > tbody > tr:nth-of-type(2n+1) > * {
  --bs-table-bg-type: var(--striped-1);
}

a {
	text-decoration: none;
	color: var(--text-color);
}

a:hover {
	color: var(--main-color) !important;
}

.two-column-holder-top-flat-md > div:first-of-type,
.two-column-holder-top-flat-lg > div:first-of-type {
	border-radius: 0;
	border-bottom: none;
}

.two-column-holder > div > div > div,
.two-column-holder > div > div {
	border-top: none;
	border-right: none;
	border-left: none;
}

.two-column-holder > div > div:first-of-type {
	border-top: 1px solid var(--borders);
}

.two-column-holder > div > div > div:last-of-type {
	border-radius: 5px !important;
}

/* Phones */
@media only screen and (min-width : 576px) {
	.border-sm-start {
		border-left: 1px solid var(--borders);
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.border-md-start {
		border-left: 1px solid var(--borders);
	}

	.two-column-holder-md > div:first-of-type {
		border-radius: 5px 0 0 5px;
		border-right: none;
		border-bottom: 1px solid var(--borders);
	}

	.two-column-holder-md > div:last-of-type {
		border-radius: 0 5px 5px 0;
	}

	.two-column-holder-top-flat-md > div:first-of-type {
		border-radius: 0 0 0 5px;
		border-right: none;
		border-bottom: 1px solid var(--borders);
	}

	.two-column-holder-top-flat-md > div:last-of-type {
		border-radius: 0 0 5px 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.border-lg-start {
		border-left: 1px solid var(--borders);
	}

	.two-column-holder-lg > div:first-of-type {
		border-radius: 5px 0 0 5px;
		border-right: none;
	}

	.two-column-holder-lg > div:last-of-type {
		border-radius: 0 5px 5px 0;
	}

	.two-column-holder-top-flat-lg > div:first-of-type {
		border-radius: 0 0 0 5px;
		border-right: none;
		border-bottom: 1px solid var(--borders);
	}

	.two-column-holder-top-flat-lg > div:last-of-type {
		border-radius: 0 0 5px 0;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}

.text-white {
	color: var(--text-strong) !important;	
}

.text-light {
	color: var(--text-light) !important;	
}

//Links
.page-link {
	color: var(--text-color);
}

.page-link:hover, .page-link:focus {
	color: var(--main-color);
}

.active {
	color: var(--main-color) !important;
}

//Checkboxes
.checkbox-lg .form-check-input{
 top: .8rem;
 scale: 1.4;
 margin-right: 0.7rem;
 }

.checkbox-lg .form-check-label {
 padding-top: 13px;
 }

.checkbox-xl .form-check-input {
 top: 1.2rem;
 scale: 1.7;
 margin-right: 0.8rem;
 }

.checkbox-xl .form-check-label {
 padding-top: 19px;
 }

 .form-check-input:checked {
 	background: var(--main-color);
 }

  .form-check-input:focus {
 	box-shadow: none;
 	border: 1px solid var(--main-color);
 }

//Search form
.form-control-lg {
	background-color: var(--forms-bg);
	color: #fff;
	border-color: var(--forms-bg);
}

.form-control:focus {
	background-color: var(--forms-bg);
	box-shadow: none;
	border: 1px solid var(--main-color);
}

.form-control:focus {
	color: white !important;
}

select, option {
	text-align: end;
}

@media only screen and (min-width: 0px) {
	#searchInput {
		min-width: 45%;
	}
}

@media only screen and (min-width: 576px) {
	#searchInput {
		min-width: 65%;
	}
}

@media only screen and (min-width: 768px) {
	#searchInput {
		min-width: 65%;
	}
}

@media only screen and (min-width: 992px) {
	#searchInput {
		min-width: 75%;
	}
}

@media only screen and (min-width: 1200px) {
	#searchInput {
		min-width: 80%;
	}
}

@media only screen and (min-width: 1400px) {
	#searchInput {
		min-width: 83%;
	}
}

//Loading
.loadingImg {
	width:150px;
	height:150px;
	animation: pulse 1.5s infinite;
}

#txLoading {
	position: relative;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: black;
}

#txLoadingInner {
	position: absolute;
	display:flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width:100%;
	height:350px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(0.95);
	}
}

//Tables
@media only screen and (max-width: 992px) {
  .table-mobile>tbody>tr>td,
  .table-mobile>tbody>tr>th,
  .table-mobile>tfoot>tr>td,
  .table-mobile>tfoot>tr>th,
  .table-mobile>thead>tr>td,
  .table-mobile>thead>tr>th {
    display: block;
    min-width: 100%!important;
  }

  .table-mobile>thead>tr>th {
    display: none;
  }
}

#txView {
  display: none;
}

//Switch
@mixin switch($res: 'sm') {
    $index: 1rem;
    $mainVal: 1rem;
  
    @if $res == 'md' {
        $index: 2rem;
        $mainVal: 1.5rem;
    } @else if $res == 'lg' {
        $index: 3rem;
        $mainVal: 2rem;
    } @else if $res == 'xl' {
        $index: 4rem;
        $mainVal: 2.5rem;
    }

    margin-bottom: calc($index / 2); /* JUST FOR STYLING PURPOSE */

    .form-check-input {
        height: $mainVal;
        width: calc(#{$index} + 0.75rem);
        border-radius: $mainVal * 2;
    }
}

.form-check-input {
  clear: left;
}

// YOU CAN PUT ALL RESOLUTION HERE
// sm - DEFAULT, md, lg, xl

.form-switch.form-switch-sm {
    @include switch();
}

.form-switch.form-switch-md {
    @include switch('md');
}

.form-switch.form-switch-lg {
    @include switch('lg');
}

.form-switch.form-switch-xl {
    @include switch('xl');
}

//Other
.main-heading {
	margin-bottom: 10px;
}

.logo-white {
	
}

.erg-span {
	color: var(--main-color);
}

.erg-span-important {
	color: var(--main-color) !important;
}

.erg-span-important:after {
	color: var(--text-color);
}

.row {
	margin: 0 !important;
}

.text-primary {
	color: var(--main-color);
}

.border-no-flat {
	border-radius: 5px 5px;
}

.div-cell {
	border: 1px solid var(--borders);
	border-radius: 5px 5px;
	padding: 15px;
}

.div-cell-dark {
	border: 1px solid var(--borders);
	border-radius: 5px 5px;
	padding: 15px;
	background-color: var(--forms-bg);
}

.div-summary {
	border: 2px solid var(--main-color);
	border-radius: 5px 5px;
	padding: 15px; 
	background-color: var(--forms-bg);
}

.border-top-flat {
	border-radius: 0px 0px 5px 5px;
}

.border-bottom-flat {
	border-radius: 5px 5px 0px 0px;
	border-bottom: none;
}

.border-flat {
	border-radius: none;
}

.navbar {
	background-color: var(--forms-bg);
	border-bottom: 1px solid var(--main-color);
	min-height: 55px;
}

.navbar-nav {
	padding-top: 0px;
	padding-right: 0px;
}

.nav-item {
	text-align: right;
}

@media only screen and (max-width: 768px) {
	.baner {
		width: 100%;
	}

	.navbar-nav {
		padding-top: 15px;
		padding-right: 15px;
	}

	.nav-item {
		text-align: right;
	}
}

.navbar-brand span {
	line-height: 32px;
	vertical-align: bottom;
}

.navbar-toggler {
	border: none;
	padding-right: 0;
}

.navbar-toggler-bars {
	font-size: 1.7rem;
}

.navbar-toggler-bars:hover, .navbar-toggler-bars:focus {
	color: var(--main-color);
}

.dropdown-menu {
	min-width: 100px;
}

#dropdown > a {
	border: 0;
	box-shadow: none;
	line-height: 28px;
}

#dropdown > ul {
	background-color: var(--forms-bg);
}

#dropdown > ul > li > a:hover {
	background-color: var(--main-color);
}

#rightNav {
	visibility: hidden;
}

.gray-color {
	color: var(--text-color);
}

.btn-primary {
	background-color: var(--borders);
	border-color: var(--borders);
}

.btn-primary:hover {
	background-color: var(--main-color);
	border-color: var(--main-color);
}

.btn-info {
	background-color: var(--main-color);
	border: none;
	color: #EEE !important;
	font-weight: bold;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
	background-color: var(--main-color-hover) !important;
	color: #EEE !important;
	box-shadow: none !important;
}

.btn-info:focus {
	box-shadow: none;
}

.footer {
	background-color: var(--footer) !important;
	color: var(--text-light);
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.token-icon {
	max-width: 18px;
	max-height: 18px;
	line-height: 25px;
	padding-bottom: 3px;
}

.nft-icon {
	filter: brightness(0.9);
}

.tokenDescriptionPre {
	overflow-wrap: anywhere;
	white-space: inherit;
	margin: 0;
}

.stripedHolder > div:nth-child(odd) {
	background-color: var(--forms-bg);
}

.stripedHolderEven > div:nth-child(even) {
	background-color: var(--forms-bg);
}

.pre-ascii {
	line-height: 1;
}

.nav-link:hover, #networkType:hover, #networkType:focus {
	color: var(--main-color) !important;
}

.form-control::placeholder {
	color: var(--text-light) !important;
}

[data-bs-theme="light"] {
	.erg-span {
		color: var(--main-color) !important;
	}

	span, pre, td, th {
		color: var(--text-color);
	}

	body, a, select, select:active, select:focus, select:hover, .form-control, #dropdown > a::after {
		color: var(--text-color) !important;
	}

	a:hover, .ticker-url:hover, .ticker-url:hover > span, .ticker-url:hover > span > span, .nav-link:hover, #networkType:hover, #networkType:focus, #dropdown:hover > a::after {
		color: var(--main-color) !important;
	}

	#dropdown > ul > li > a:hover {
		color: var(--forms-bg) !important;
	}

	option:focus {
		background-color: var(--main-color);
	}

	.table-dark {
		--bs-table-striped-bg: #e3e3e3;
	}

	.btn {
		color: #fff !important;
	}

	.btn-primary {
		background-color: var(--text-light);
	}

	.btn-primary:hover {
		color: #fff !important;
		background-color: var(--main-color);
	}

	.nft-icon {
		filter: brightness(0.3);
	}

	.text-success {
		color: #22aa22 !important;
	}

	.text-info {
		color: #3377FF !important;
	}

	.text-warning {
		color: #ff7700 !important;
	}

	.navbar-toggler-icon {
		filter: sepia(100%) saturate(300%) brightness(0%) hue-rotate(180deg)
	}
}

.div-striped-holder > div:nth-child(odd) > div {
  	background-color: var(--striped-1);
}

//baner
@media only screen and (min-width: 0px) {
	.baner {
		width: 100%;
	}
}

@media only screen and (min-width: 576px) {
	.baner {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.baner {
		width: 100%;
	}
}

@media only screen and (min-width: 992px) {
	.baner {
		width: 75%;
	}
}

@media only screen and (min-width: 1200px) {
	.baner {
		width: 80%;
	}
}

@media only screen and (min-width: 1400px) {
	.baner {
		width: 80%;
	}
}

//canvas6t5re6t5re32
#canvas-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d263b;
  border-radius: 10px;
  padding: 60px 20px;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  width: 100% !important;
  max-height: 80px;
}

#canvas-holder::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(29,38,59,0.6) 0%, rgba(29,38,59,0.8));
  pointer-events: none;
  z-index: 2;
  border-radius: 10px;  
}

#vanta-canvas {
  height: 100%;
  width: 100%;
  border-radius: 10px;  
}

#canvas-overlay {
  line-height: 54px;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
}

#canvas-overlay img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 768px) {
	#searchType {
		max-width: 130px;
	}
}