#txInputs > div:nth-child(odd), #txOutputs > div:nth-child(odd) {
	background-color: var(--striped-1);
}

#txInputs > div, #txOutputs > div {
	border-radius: 0;
}

#txRawInput, #txRawOutput {
	overflow-wrap: anywhere;
	white-space: break-spaces;
}

.div-table {
	border: 0 !important;
}

.div-table > tbody {
	border-top: 0 !important;
}

.div-table > tbody > tr > td {
	padding: 5px 10px;
}

.div-table > tbody > tr:nth-child(odd) {
	background-color: var(--striped-1);
}