:root {
	--orange-color: #fb5c16;
	--orange-color-hover: #FF8418;
}

html[data-bs-theme="dark"] {
	--text-color: #AAA;
	--striped-1: #2a2a2a;
	--forms-bg: #333;
	--borders: #4f4f4f;
	--text-light: #999;
	--text-strong: #CCC;
	--background: #222;
}

html[data-bs-theme="light"] {
	--text-color: #444;
	--striped-1: #e3e3e3;
	--forms-bg: #FFF;
	--borders: #CCC;
	--text-light: #444;
	--text-strong: #222;
	--background: #EEE;
}
