:root {
	--main-color: #fb5c16;
	--main-color-hover: #FF8418;
}

html[data-bs-theme="dark"] {
	--striped-1: #2a2a2a;
	--text-color: #AAA;
	--forms-bg: #333;
	--borders: #4f4f4f;
	--text-light: #999;
	--text-strong: #CCC;
	--background: #222;
}

html[data-bs-theme="light"] {
	--striped-1: #f8f8f8;
	--text-color: #444;
	--forms-bg: #FFF;
	--borders: #CCC;
	--text-light: #444;
	--text-strong: #222;
	--background: #f8f8f8;
}