RewriteEngine on
RewriteRule ^addresses/(.*)$ /addresses#$1 [L,R=301,NE]
RewriteRule ^transactions/(.*)$ /transactions#$1 [L,R=301,NE]
RewriteRule ^blocks/(.*)$ /blocks#$1 [L,R=301,NE]
RewriteRule ^mempool/(.*)$ /mempool#$1 [L,R=301,NE]
RewriteRule ^issued-tokens/(.*)$ /issued-tokens#$1 [L,R=301,NE]
RewriteRule ^token/(.*)$ /token#$1 [L,R=301,NE]
RewriteRule ^addressbook/(.*)$ /addressbook#$1 [L,R=301,NE]
RewriteRule ^latest-blocks/(.*)$ /latest-blocks#$1 [L,R=301,NE]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
