RewriteEngine on
RewriteRule ^en/(.*)$ /$1 [L,R=301,NE]
RewriteRule ^ru/(.*)$ /$1 [L,R=301,NE]
RewriteRule ^(addresses|transactions|boxes|blocks|mempool|issued-tokens|token|addressbook|latest-blocks)/.*$ $1.html [L]
RewriteRule ^ergosanta$ https://ergosanta.ergexplorer.com [L,R=301,NE]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
