{% extends "layout.njk" %}

{% block navigation %}
	{% import 'macros/nav-macro.njk' as nav %}
	{{nav.active('about')}}
{% endblock %}

{% block content %}
	<div class="col-md-12">
		<div class="row w-100 div-cell-dark">
			<div class="col-md-12">
				<h2>About</h2>
				<p>Erg Explorer is the brainchild of a single enthusiast software developer (yours truly!) who wanted to provide the Ergo community with a user-friendly and intuitive tool to explore the depths of our beloved Ergo blockchain. With a deep understanding of the Ergo protocol and a genuine passion for the technology, I set out to create a product that would revolutionize the way we interact with Ergo.</p>

				<br>

				<h2>Contact</h2>
				<p><strong><span class="erg-span">Telegram</span>:</strong> <a target="_new" href="https://t.me/ErgExplorer">Erg Explorer</a></p>
				<p><strong><span class="erg-span">E-mail</span>:</strong> <a href="mailto:ergexplorer@gmail.com">ergexplorer@gmail.com</a></p>

				<br>

				<h2>Donate</h2>
				<p>I'm excited to invite you to contribute to the growth and enhancement of our user-friendly Erg Explorer. With your support, I can continue providing a seamless and enjoyable platform for exploring the Ergo blockchain. All donations are hugely appreciated. Thank you!</p>

				<br>
				
				<p><span class="erg-span"><strong>Ergo wallet</strong>:</span> <a href="#" id="address"></a></p></p>
				
			</div>
		</div>

		<br>

		<div class="row w-100 div-cell-dark">
			<div class="col-md-12">

				<h2>Terms of Service - Erg Explorer</h2>

				<br>
	
				<p>These Terms of Service ("Terms") govern your use of the Erg Explorer blockchain explorer service ("Service"). By accessing or using the Service, you agree to be bound by these Terms. If you do not agree with any provision of these Terms, please refrain from using the Service.</p>

				<br>

				<h3>Description of Service</h3>
				<p>Erg Explorer is a blockchain explorer web service that provides users with the ability to explore the Ergo blockchain network without recording any user data. The Service allows users to view transaction history, block information, and other related data on the Ergo blockchain.</p>

				<br>

				<h3>User Responsibilities</h3>
				<p>1.1. Prohibited Use: You agree not to use the Service for any unlawful, fraudulent, or malicious activities. You will not attempt to gain unauthorized access to the Service or interfere with its proper functioning.</p>
				<p>1.2. Compliance with Laws: You are responsible for complying with all applicable laws and regulations in your use of the Service.</p>

				<br>

				<h3>Privacy</h3>
				<p>1.1. Data Collection: Erg Explorer does not record or store any user data. The Service operates in a manner that preserves user privacy and does not track or retain any personal information.</p>
				<p>1.2. Cookies: The Service does not create or use any cookies or similar technologies to enhance user experience.</p>

				<br>

				<h3>Intellectual Property</h3>
				<p>1.1. Ownership: Erg Explorer and its associated logos, trademarks, and content are owned by their respective owners and are protected by intellectual property laws. You may not use, reproduce, modify, or distribute any content from the Service without prior written permission.</p>
				<p>1.2. Feedback: If you provide any suggestions, feedback, or ideas regarding the Service, you grant Erg Explorer a non-exclusive, perpetual, royalty-free, irrevocable, and worldwide right to use, modify, and incorporate such feedback.</p>

				<br>

				<h3>Limitation of Liability</h3>
				<p>To the extent permitted by law, Erg Explorer shall not be liable for any direct, indirect, incidental, special, consequential, or exemplary damages arising out of or in connection with your use of the Service. This includes but is not limited to damages for loss of profits, goodwill, data, or other intangible losses.</p>

				<br>

				<h3>Termination</h3>
				<p>Erg Explorer reserves the right to suspend, terminate, or restrict your access to the Service at any time without notice or liability, for any reason, including if you violate these Terms.</p>

				<br>

				<h3>Modifications</h3>
				<p>Erg Explorer may modify these Terms at any time by posting the updated version on its website or through the Service. It is your responsibility to review the Terms periodically. By continuing to use the Service after any modifications, you accept and agree to the updated Terms.</p>

				<br>

				<h3>Governing Law</h3>
				<p>These Terms shall be governed by and construed in accordance with the laws of the jurisdiction where Erg Explorer is located, without regard to its conflict of law provisions.</p>

				<br>

				<h3>Severability</h3>
				<p>If any provision of these Terms is found to be invalid, illegal, or unenforceable, the remaining provisions shall continue in full force and effect.</p>

				<br>

				<h3>Entire Agreement</h3>
				<p>These Terms constitute the entire agreement between you and Erg Explorer regarding the Service and supersede all prior or contemporaneous agreements, understandings, and representations.</p>

				<br>

				<p>If you have any questions or concerns about these Terms, please contact us at <a href="mailto:ergexplorer@gmail.com"><strong>ergexplorer@gmail.com</strong></a></p>

				<br>

			</div>
		</div>
	</div>

	<br>
{% endblock %}

{% block scripts %}
	<script src="./scripts/about.js?v=9"></script>
{% endblock %}