{% extends "layout.njk" %}

{% block navigation %}
	{% import 'macros/nav-macro.njk' as nav %}
	{{nav.active('addressbook')}}
{% endblock %}

{% block content %}
	<div class="col-md-12">
		<div class="row w-100">
			<div class="col-md-12">
				<h2>Address book</h2>
			</div>
		</div>

		<br>

		<div id="addressbookHolder" style="display: none;">
			<div class="row w-100">
				<table class="table table-dark table-striped">
					<thead>
						<tr>    
							<th scope="col">Name</th>
							<th scope="col">Type</th>
							<th scope="col">Address</th>
							<th scope="col">Url</th>
						</tr>   
					</thead>

					<tbody id="addressbookTableBody">          
					</tbody>
				</table>
		 	</div>

			{% include "partials/pagination.njk" %}		 	
	 	</div>
	</div>

	{% include "partials/error-message.njk" %}

	{% include "partials/loading.njk" %}
{% endblock %}

{% block scripts %}
	<script src="./scripts/common/prices.js?v=9"></script>
	<script src="./scripts/common/pagination.js?v=9"></script>
	<script src="./scripts/addressbook.js?v=9"></script>
{% endblock %}