{% extends "layout.njk" %}

{% block styles %}
	<!-- build:css styles/addresses.css -->
	<link rel="stylesheet" href="styles/addresses.css">
	<!-- endbuild -->
{% endblock %}

{% block navigation %}
	{% import 'macros/nav-macro.njk' as nav %}
	{{nav.active('')}}
{% endblock %}

{% block content %}
	<div class="col-md-12">
		<h2 class="main-heading p-2">Address</h2>
		
		<div id="summaryOk" style="display: none;" class="row w-100">
			<div class="col-md-7 col-sm-12 div-cell">
				<h4><strong>Summary</strong></h4>
				<p>
					<strong>Address:</strong> <a onclick="copyWalletAddress(event)" href="Copy to clipboard!" id="address"></a>
				</p>
				<p id="totalTransactions"></p>

				<br>

				<button id="showQRcodeBtn" type="button" class="btn btn-info">Show QR Code</button>
				
				<br>
				<br>
				
				<p>
					<strong>NOTE:</strong> Erg Explorer is still in <strong>alpha</strong> phase. Plase report any issues you encounter in our <strong><a href="https://t.me/ErgExplorer" target="_new">Telegram group</a></strong>.
				</p>
				<p>Official Ergo Explorer link: <a target="_new" id="officialLink" href="#">/</a></p>
			</div>
			<div class="col-md col-sm-12 div-cell">
				<h4><strong>Balance</strong></h4>
				<h5 id="finalBalance"></h5>
				<br>
				<div id="tokensHolder" style="display:none">
					<h4><strong>Tokens:</strong></h4>
					<p id="tokens"></p>
				</div>
			</div>
		  </div>

		  <div id="txView" class="row w-100">
		  	<br>

			<table class="table table-dark table-striped">
				<thead>
					<tr>
						<th scope="col">Tx</th>
						<th scope="col">Time</th>
						<th scope="col">Block</th>
						<th scope="col"></th>
						<th scope="col">From</th>
						<th scope="col">To</th>
						<th scope="col">Status</th>
						<th scope="col">Fee</th>
						<th scope="col">Value</th>
					</tr>
				</thead>

				<tbody id="transactionsTableBody">                                          
				</tbody>
			</table>

			{% include "partials/pagination.njk" %}
		</div>

	  	{% include "partials/error-message.njk" %}
		
		{% include "partials/loading.njk" %}
	</div>

	<div id="qrCodeBack">
		<div id="qrCodeHolder">	
			<div id="qrcode"></div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="./scripts/common/pagination.js"></script>
	<script src="./scripts/addresses.js"></script>
	<script src="./scripts/3rd-party/qrcode.min.js"></script>
{% endblock %}