{% extends "layout.njk" %}

{% block styles %}
	<!-- build:css styles/addressbook.css -->
		<link rel="stylesheet" href="styles/addressbook.css">
	<!-- endbuild -->
{% endblock %}

{% block navigation %}
	{% import 'macros/nav-macro.njk' as nav %}
	{{nav.active('addressbook')}}
{% endblock %}

{% block content %}
	<div class="col-md-12">
		<div class="row w-100">
			<div class="col-md-12">
				<h2>Address book</h2>
			</div>
		</div>		

		<div id="addressbookHolder" style="display: none;">
			<div id="search" class="row w-100 p-2 m-0">
				<div class="d-hidden d-md-block col-md-6"></div>
				<div class="col-12 col-lg-6 d-flex justify-content-end">
					<label for="orderBy" class="form-label">Order: </label>
					<select id="orderBy" selected="recent" class="form-select form-control form-control-lg" onchange="onOrderChanged()">
						<option value="nameAsc">Alphabetical: A to Z</option>
						<option value="nameDesc">Alphabetical: Z to A</option>
					</select>
					<label for="addressType" class="form-label">  Filter: </label>
					<select id="addressType" class="form-select form-control form-control-lg" onchange="onAddressTypeChanged()">
						<option value="all">All</option>
						<option value="exchange">Exchange</option>
						<option value="service">Service</option>
						<option value="mining-pool">Mining pool</option>
						<option value="nft-artist">NFT Artist</option>
					</select>
				</div>
			</div>
			<br>
			{% include "partials/pagination.njk" %}

			<div class="row w-100 div-striped-holder" style="margin-bottom:0px !important;" id="addressbookContentHolder">

		 	</div>
		 	<hr class="my-2 d-block d-md-none" style="border:0;">

			{% include "partials/pagination.njk" %}
		</div>

		{% include "partials/error-message.njk" %}
	</div>

	{% include "partials/loading.njk" %}
{% endblock %}

{% block scripts %}
	<script src="./scripts/common/prices.js?v=36"></script>
	<script src="./scripts/common/pagination.js?v=36"></script>
	<script src="./scripts/addressbook.js?v=36"></script>
{% endblock %}