{% extends "layout.njk" %}

{% block styles %}
	<!-- build:css styles/boxes.css -->
	<link rel="stylesheet" href="styles/boxes.css">
	<!-- endbuild -->
{% endblock %}

{% block navigation %}
		{% import 'macros/nav-macro.njk' as nav %}
		{{nav.active('')}}
{% endblock %}

{% block content %}
	<div class="row w-100">
		<div class="col-md-12">
			<h2>Box</h2>
		</div>
	</div>
	<br>
	<div id="boxDataHolder" style="display: none;" class="col-md-12">
		<div class="row w-100 div-cell-dark border-bottom-flat p-2 p-lg-3">
			<div id="boxHeader" class="col-9 d-none d-lg-block">
			</div>
			<div id="boxHeaderMobile" class="col-6 col-lg-9 d-block d-lg-none ps-1 pe-1">
			</div>
			<div id="boxTime" class="col-6 col-lg-3 d-flex justify-content-end ps-1 pe-1 ps-lg-3 pe-lg-3">
			</div>
		</div>

		<div id="boxHolder" class="div-cell-dark border-top-flat p-0">
			
		</div>
		
		<br>
	</div>

	{% include "partials/error-message.njk" %}

	{% include "partials/loading.njk" %}

	<br>
{% endblock %}

{% block scripts %}
		<script src="./scripts/common/prices.js?v=36"></script>
		<script src="./scripts/boxes.js?v=36"></script>
{% endblock %}