{% extends "layout.njk" %}

{% block styles %}
	<!-- build:css styles/index.css -->
		<link rel="stylesheet" href="styles/index.css">
	<!-- endbuild -->
{% endblock %}

{% block navigation %}
	{% import 'macros/nav-macro.njk' as nav %}
	{{nav.active('home')}}
{% endblock %}

{% block content %}
	<div id="txHolder" style="display: none;">
		<div id="tx"></div>
	</div>

	<div class="row w-100 div-cell-dark">
		<div class="col-md-6 col-lg-4 p-1 pe-0 ps-0 pe-lg-3">
			<div class="d-flex">
				<div class="me-3 text-center mx-auto index-card-symbol-holder">
					<img id="erg-logo" src="./images/logo-new.png" alt="Ergo coin" style="width:50px; height:50px;">
				</div>
				<div class="flex-grow-1">
					<p><span class="erg-span"><b>ERG</b></span> price</p>
					<h2 class="text-white index-card-values" id="ergPrice"></h2>
				</div>
			</div>
			<hr class="my-3">
			<div class="d-flex">
				<div class="me-3 text-center mx-auto index-card-symbol-holder">
					<i class="fas fa-globe erg-span index-card-symbol"></i>
				</div>
				<div class="flex-grow-1">
					<p><strong class="erg-span"></strong>Market cap</p>
					<h2 class="text-white index-card-values" id="marketCap"></h2>
				</div>
			</div>
		</div>
		<hr class="my-3 d-block d-md-none">
		<div class="col-md-6 col-lg-4 p-1 pe-0 ps-0 pe-lg-3">
			<div class="d-flex">
				<div class="me-3 text-center mx-auto index-card-symbol-holder">
					<i class="fas fa-bars erg-span index-card-symbol"></i>
				</div>
				<div class="flex-grow-1">
					<p>Block height</p>
					<h2 id="blockHeight" class="text-white index-card-values"></h2>
				</div>
			</div>
			<hr class="my-3">
			<div class="d-flex">
				<div class="me-3 text-center mx-auto index-card-symbol-holder">
					<i class="fas fa-list erg-span index-card-symbol"></i>
				</div>
				<div class="flex-grow-1">
					<p><strong class="erg-span"></strong>Total transactions</p>
					<h2 class="text-white index-card-values" id="totalTransactions"></h2>
				</div>
			</div>
		</div>		
		<hr class="my-3 d-block d-lg-none">
		<div class="col p-1 ps-lg-3 border-lg-start">
			<h2 class="erg-span" style="font-size:1.7em; margin-bottom: 0;">Protocol information</h2>
			<br>
			<h5 style="font-size:1em" class="text-light">Version: <span class="text-white" id="ergVersion"></span></h2>
			<h5 style="font-size:1em" class="text-light">Circulating Supply: <span id="ergSupply"></span></h2>
			<h5 style="font-size:1em" class="text-light">Max Supply: <span id="ergTotal"></span></h2>
		</div>
	</div>
	<div id="tokenLoading" style="display: block;height: 350px;" class="row w-100">
		<div class="col-12">
			{% include "partials/loading.njk" %}
		</div>
	</div>
	<div id="tokenView" style="display: none" class="row w-100">
		<div class="col-lg-6 p-0 pe-lg-3">
			<h2 class="subtitle ps-1 ps-sm-0">Top 10 by DEX volume</h2>
			<table class="table table-striped table-dark">
				<thead>
					<tr>
						<th scope="col">Token</th>
						<th scope="col">Volume</th>
					</tr>
				</thead>

				<tbody id="tokensVolumeTableBody">

				</tbody>
			</table>
		</div>
		<div class="col-lg-6 p-0 ps-lg-3">
			<h2 style="display:inline-block;" class="subtitle ps-1 ps-sm-0">Top 5 profit/loss</h2>
			<input id="showGainersLosers30d" onclick="printGainersLosers30d()" style="margin-top:23px;margin-bottom:10px;margin-left:5px;display:inline-block;" class="p-2 p-sm-2 btn btn-primary float-end" type="button" value="30d">
			<input id="showGainersLosers7d" onclick="printGainersLosers7d()" style="margin-top:23px;margin-bottom:10px;display:inline-block;" class="p-2 p-sm-2 btn btn-primary float-end" type="button" value="7d">
			<input id="showGainersLosers24h" onclick="printGainersLosers24h()" style="margin-top:23px;margin-bottom:10px;margin-right:5px;display:inline-block;" class="p-2 p-sm-2 btn btn-info float-end" type="button" value="24h">
			<table class="table table-dark table-striped">
				<thead>
					<tr>
						<th scope="col">Token</th>
						<th scope="col">Price</th>
						<th scope="col">Change</th>
					</tr>
				</thead>

				<tbody id="tokensGainersTableBody">

				</tbody>
			</table>
		</div>
	</div>	
	 <div id="txView" style="display: none" class="row w-100">
		<h2 class="subtitle ps-1 ps-sm-0">Latest big transactions</h2>
		<table class="table table-dark table-striped table-mobile table-sm-sm">
			<thead>
				<tr>
					<th scope="col">Tx</th>
					<th scope="col" style="min-width: 156px">Time</th>
					<th scope="col">From</th>
					<th scope="col">To</th>
					<th scope="col">Value</th>
				</tr>
			</thead>

			<tbody id="transactionsTableBody">

			</tbody>
		</table>
	</div>
	<br>
	<div class="row w-100 p-0">		
		<div class="col-md-12 m-0 div-cell-dark p-2">
			<div class="row w-100 p-0">	
				<div id="statsHolderLeft" class="col-md-6 p-0">
					<h2 class="p-1 p-sm-3 m-0 text-white">24h Stats</h2>
					<h3 class="p-1 p-sm-3 erg-span">Block summary</h3>
					<div class="col-12 p-0 p-sm-1">
					<div class="row w-100 p-0 p-sm-1">
						<div class="col-6 ps-1 ps-sm-2"><strong>Blocks mined</strong></div>
						<div id="statsBlocksMined" class="col"></div>
					</div>
					<hr class="my-1">
					<div class="row w-100 p-0 p-sm-1">
						<div class="col-6 ps-1 ps-sm-2"><strong>Average mining time</strong></div>
						<div id="statsAverageMiningTime" class="col"></div>
					</div>
					<hr class="my-1">
					<div class="row w-100 p-0 p-sm-1">
						<div class="col-6 ps-1 ps-sm-2"><strong>Coins mined</strong></div>
						<div id="statsCoinsMined" class="col"></div>
					</div>
					<hr class="d-block d-sm-none my-2" style="border:0;">
					<h3 class="p-1 p-sm-3 erg-span">Transactions summary</h3>
					<div class="row w-10p-0 0 sm-p-0 p-sm-1">
						<div class="col-6 ps-1 ps-sm-2"><strong>Number of Transactions</strong></div>
						<div id="statsNumberOfTransactions" class="col"></div>
					</div>
					<hr class="my-1">
					<div class="row w-100 p-0 p-sm-1">
						<div class="col-6 ps-1 ps-sm-2"><strong>Total Transaction Fees</strong></div>
						<div id="statsTotalTransactionFees" class="col"></div>
					</div>
					<!--
					<hr class="my-1">
					<div class="row w-100 p-1">
						<div class="col-6 ps-1 ps-sm-2"><strong>Total Output Volume</strong></div>
						<div id="statsTotalOutputVolume" class="col"></div>
					</div>
					-->					
					<hr class="d-block d-sm-none my-2" style="border:0;">
					</div>
				</div>
				<div id="statsHolderRight" class="col-md-6 p-0">
					<h2 class="p-1 p-sm-3 m-0 d-none d-md-block"> </h2>
					<h3 class="p-1 p-sm-3 erg-span">Mining cost</h3>
					<div class="col-12 p-0 p-sm-1">
					<div class="row w-100 p-0 p-sm-1">
						<div class="col-6 ps-1 ps-sm-2"><strong>Total Miners Revenue</strong></div>
						<div id="statsTotalMinersRevenue" class="col"></div>
					</div>
					<hr class="my-1">
					<div class="row w-100 p-0 p-sm-1">
						<div class="col-6 ps-1 ps-sm-2"><strong>% Earned From Transaction Fees</strong></div>
						<div id="statsEarnedFromTransactionFees" class="col"></div>
					</div>
					<hr class="my-1">
					<div class="row w-100 p-0 p-sm-1">
						<div class="col-6 ps-1 ps-sm-2"><strong>% Of Transaction Volume</strong></div>
						<div id="statsOfTransactionVolume" class="col"></div>
					</div>
					<hr class="my-1">
					<div class="row w-100 p-0 p-sm-1">
						<div class="col-6 ps-1 ps-sm-2"><strong>Cost per Transaction</strong></div>
						<div id="statsCostPerTransaction" class="col"></div>
					</div>
					<hr class="my-1">
					<div class="row w-100 p-0 p-sm-1">
						<div class="col-6 ps-1 ps-sm-2"><strong>Difficulty</strong></div>
						<div id="statsDifficulty" class="col"></div>
					</div>
					<hr class="my-1">
					<div class="row w-100 p-0 p-sm-1">
						<div class="col-6 ps-1 ps-sm-2"><strong>Hash Rate</strong></div>
						<div id="statsHashRate" class="col"></div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>
{% endblock %}

{% block scripts %}
	<script src="https://unpkg.com/@sjaakp/telex/dist/telex.js"></script>
	<script src="./scripts/common/prices.js?v=38"></script>
	<script src="./scripts/index.js?v=38"></script>
{% endblock %}