{% extends "layout.njk" %}

{% block styles %}
	<!-- build:css styles/issued-tokens.css -->
	<link rel="stylesheet" href="styles/issued-tokens.css">
	<!-- endbuild -->
{% endblock %}

{% block navigation %}
	{% import 'macros/nav-macro.njk' as nav %}
	{{nav.active('issued-tokens')}}
{% endblock %}

{% block content %}
	<div class="col-md-12">
		<div class="row w-100">
			<div class="col-12">
				<h2>Issued Tokens</h2>
			</div>
			<div id="search" class="row w-100 p-0 m-0">
				<div class="col-12 col-lg-6 d-flex justify-content-end justify-content-start">
					<div class="form-check form-check-reverse checkbox-xl p-0">
					  <input style="margin-top: 14px;margin-right:0px;" class="form-check-input" onchange="onToggleUtilityTokens()" type="checkbox" id="toggleUtility">
					  <label style="padding:0;margin-right:15px;" class="form-check-label" for="toggleUtility">
					    Hide utility:
					  </label>
					</div>
					<div class="form-check form-check-reverse checkbox-xl p-0" style="margin-left:20px;">
					  <input style="margin-top: 14px;margin-right:0px;" class="form-check-input" onchange="onToggleBurnedTokens()" type="checkbox" id="toggleBurned">
					  <label style="padding:0;margin-right:15px;" class="form-check-label" for="toggleBurned">
					    Hide burned:
					  </label>
					</div>
				</div>
				<div class="col-12 col-lg-6 d-flex justify-content-end">
					<label for="orderBy" class="form-label">Order: </label>
					<select id="orderBy" selected="recent" class="form-select form-control form-control-lg" onchange="onOrderChanged()">
						<option value="recent">Recently issued</option>
						<option value="nameAsc">Alphabetical: A to Z</option>
						<option value="nameDesc">Alphabetical: Z to A</option>
					</select>
					<label for="tokenType" class="form-label">  Filter: </label>
					<select id="tokenType" class="form-select form-control form-control-lg" onchange="onTokenTypeChanged()">
						<option value="all">All</option>
						<option value="token">Token</option>
						<option value="nft">NFT</option>
						<option value="image">Image</option>
						<option value="audio">Audio</option>
						<option value="video">Video</option>
						<option value="artcollection">Art collection</option>
						<option value="file">File</option>
						<option value="membership">Membership token</option>
					</select>
				</div>
			</div>
		</div>
	 
		<br>

		<div id="issuedTokensHolder" style="display: none;">
			<div class="row w-100">
				<table class="table table-dark table-striped">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th style="min-width:200px" scope="col">Name</th>
							<th style="min-width:75px" scope="col">Type</th>
							<th scope="col">Amount</th>
							<th scope="col">Description</th>
						</tr>
					</thead>
				 
					<tbody id="issuedTokensTableBody">              
					</tbody>
				</table>
			</div>

			{% include "partials/pagination.njk" %}
		</div>
	</div>

	{% include "partials/error-message.njk" %}

	{% include "partials/loading.njk" %}
{% endblock %}

{% block scripts %}
	<script src="./scripts/common/pagination.js?v=22"></script>
	<script src="./scripts/common/nft.js?.v=5"></script>
	<script src="./scripts/issued-tokens.js?v=22"></script>
{% endblock %}