{% extends "layout.njk" %}

{% block navigation %}
	{% import 'macros/nav-macro.njk' as nav %}
	{{nav.active('latest-blocks')}}
{% endblock %}

{% block content %}
	<div class="col-md-12">
		<div class="row w-100">
			<div class="col-md-12">
				<h2>Latest blocks</h2>
			</div>
		</div>

		<br>

		<div id="blocksHolder" style="display: none;">
			<div class="row w-100">
				<table class="table table-dark table-striped">
					<thead>
						<tr>    
							<th scope="col">Height</th>
							<th scope="col">Time</th>
							<th scope="col">Transactions</th>
							<th scope="col">Mined by</th>
							<th scope="col">Reward</th>
							<th scope="col">Difficulty</th>
							<th scope="col">Size</th>
						</tr>   
					</thead>

					<tbody id="transactionsTableBody">          
					</tbody>
				</table>
		 	</div>

		 	
			{% include "partials/pagination.njk" %}
	 	</div>

		{% include "partials/error-message.njk" %}
	</div>

	{% include "partials/loading.njk" %}
{% endblock %}

{% block scripts %}
	<script src="./scripts/common/prices.js?v=22"></script>
	<script src="./scripts/common/pagination.js?v=22"></script>
	<script src="./scripts/latest-blocks.js?v=22"></script>
{% endblock %}