{% extends "layout.njk" %}

{% block styles %}
	<!-- build:css styles/token.css -->
		<link rel="stylesheet" href="styles/token.css">
	<!-- endbuild -->
{% endblock %}

{% block navigation %}
	{% import 'macros/nav-macro.njk' as nav %}
	{{nav.active('')}}
{% endblock %}

{% block content %}
	<h2 class="main-heading p-2">Token</h2>

	<div id="tokenDataHolder" style="display: none;" class="col-md-12">
		<div class="row w-100 div-cell-dark p-3 border-bottom-flat">
			<div id="tokenHeader" class="col"></div>
		</div>

		<div class="row w-100 two-column-holder-top-flat-lg">
			<div id="tokenDataLeft" class="col-lg-4 div-cell-dark border-top-flat p-0">
				<div class="row w-100 p-1">
					<div class="col-5">
						<p><strong>Name</strong></p>
					</div>
					<div class="col-7">
						<p id="tokenName"></p>
					</div>
				</div>				
				<div class="row w-100 p-1">
					<div class="col-5">
						<p><strong>Emission amount</strong></p>
					</div>
					<div class="col-7">
						<p id="tokenEmissionAmount"></p>
					</div>
				</div>
				<div class="row w-100 p-1">
					<div class="col-5">
						<p><strong>Decimals</strong></p>
					</div>
					<div class="col-7">
						<p id="tokenDecimals"></p>
					</div>
				</div>
				<div class="row w-100 p-1">
					<div class="col-5">
						<p><strong>Type</strong></p>
					</div>
					<div class="col-7">
						<p id="tokenType"></p>
					</div>
				</div>	
				<div style="display: none;" id="tokenBurned" class="row w-100 p-1">
					<div class="col-5">
						<p><strong>Status</strong></p>
					</div>
					<div class="col-7">
						<p class="text-danger">Burned</p>
					</div>
				</div>
			</div>

			<div id="tokenDataRight" class="col-lg-8 div-cell-dark border-top-flat p-0">
				<div class="row w-100 p-1">
					<div id="tokenDescriptionHolderLeft" class="col-xl-2 col-3">
						<p><strong>Description</strong></p>
					</div>
					<div id="tokenDescriptionHolderRight" class="col-xl-10 col-9">
						<p id="tokenDescription"></p>
					</div>
					<div id="tokenIcon" style="display: none;" class="p-3 justify-content-center justify-content-md-end"><img id="tokenIconImg" onload="onTokenIconLoaded()"></div>
				</div>
			</div>
		</div>

		<br>

		<div id="nftHolder" style="display: none;">
			<h3 class="p-2">NFT Info</h3>
			<div class="div-cell-dark row w-100 p-0">
				<div class="col-12 p-0 border-bottom-flat" style="display: none;" id="nftPreviewAudio">
					<audio id="nftAudio" class="border-bottom-flat" controls crossorigin loop name="media"><source id="nftPreviewAudioSource" src="" type="audio/mp3"></audio>
				</div>
				<div id="nftPreviewImgHolder" class="col-lg-3 p-0" style="border-radius: 5px 0 0 5px;">
					<img id="nftPreviewImg" onclick="showFullImgPreview()" style="display: none;" onload="onNftImageLoad()" src="">
					<video style="display: none;" id="nftPreviewVideo" controls crossorigin allowfullscreen name="media"><source id="nftPreviewVideoSource" src="" type="video/mp4"></video>
				</div>
				<div id="nftInfoHolder" class="col-lg-9 p-0">
					<div class="row w-100 p-2 border-bottom-flat">
						<div class="col-md-3"><strong><p>Type</p></strong></div>
						<div id="nftType" class="col"></div>
					</div>
					<div class="row w-100 p-2">
						<div class="col-md-3"><strong><p>Mint block</p></strong></div>
						<div id="nftCreationHeight" class="col"></div>
					</div>
					<div class="row w-100 p-2">
						<div class="col-md-3"><strong><p>Mint address</p></strong></div>
						<div id="nftMintedAddress" class="col"></div>
					</div>
					<!--
					<div id="nftMintedWalletHolder" style="display: none;" class="row w-100 p-2">
						<div class="col-md-3"><strong><p>Mint wallet</p></strong></div>
						<div id="nftMintedWallet" class="col"></div>
					</div>
					-->	
					<div class="row w-100 p-2">
						<div class="col-md-3"><strong><p>Mint transaction</p></strong></div>
						<div id="nftMintedTransaction" class="col"></div>
					</div>		
					<div id="nftCurrentAddressHolder" style="display: none;" class="row w-100 p-2">
						<div class="col-md-3"><strong><p>Current address</p></strong></div>
						<div id="nftCurrentAddress" class="col"></div>
					</div>
					<div class="row w-100 p-2">
						<div class="col-md-3"><strong><p>URL</p></strong></div>
						<div id="nftLink" class="col"></div>
					</div>
					<div id="nftHashHolder" class="row w-100 p-2">
						<div class="col-md-3"><strong><p>SHA-256 hash</p></strong></div>
						<div id="nftHash" class="col"></div>
					</div>
					<div id="marketplaceHolder" class="row w-100 p-2 border-top-flat">
						<div class="col-md-3"><strong><p>Marketplace</p></strong></div>
						<div id="nftAuction" class="col"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="tokenHolder" style="display: none;">
			<h3 class="p-2">Info</h3>
			<div class="div-cell-dark row w-100 p-0">
				<div id="nftInfoHolder" class="col-lg-12 p-0">
					<div class="row w-100 p-2 border-bottom-flat">
						<div class="col-md-3"><strong><p>Type</p></strong></div>
						<div id="nftType" class="col"></div>
					</div>
					<div class="row w-100 p-2">
						<div class="col-md-3"><strong><p>Mint block</p></strong></div>
						<div id="nftCreationHeight" class="col"></div>
					</div>
					<div class="row w-100 p-2">
						<div class="col-md-3"><strong><p>Mint address</p></strong></div>
						<div id="nftMintedAddress" class="col"></div>
					</div>
					<div class="row w-100 p-2">
						<div class="col-md-3"><strong><p>Mint transaction</p></strong></div>
						<div id="nftMintedTransaction" class="col"></div>
					</div>	
					<div id="nftCurrentAddressHolder" style="display: none;" class="row w-100 p-2">
						<div class="col-md-3"><strong><p>Current address</p></strong></div>
						<div id="nftCurrentAddress" class="col"></div>
					</div>
				</div>				
			</div>
		</div>

		<br>

		<div id="priceInfo" style="display: none;">		
			<h3 class="p-2">Finance</h3>
			<div class="div-cell-dark row w-100 p-0">
				<div class="col border-end pt-2">
					<div style="padding-bottom: 5px !important;" class="row w-100 p-2 div-striped-holder">
						<div class="text-md-center col-md-4 p-1">
							<p><strong>Price USD:</strong> <span class="text-light" id="usdPrice"></span></p>
						</div>
						<div class="text-md-center col-md-4 p-1 border-md-start">
							<p><strong>24h change:</strong> <span class="" id="usdChange24h"></span></p>
						</div>
						<div class="text-md-center col-md-4 p-1 border-md-start">
							<p><strong>7d change:</strong> <span class="" id="usdChange7d"></span></p>
						</div>
					</div>
					<hr class="my-3">
					<div class="row w-100 p-2">
						<div class="col-6 p-0 pb-1">
							<h4>Price chart USD</h4>
						</div>
						<div class="col-6 p-0">
							<input id="showGainersLosers7d" onclick="printGainersLosers7d()" style="display:inline-block;" class="btn btn-primary float-end" type="button" value="7d">
							<input id="showGainersLosers24h" onclick="printGainersLosers24h()" style="margin-right:5px;display:inline-block;" class="btn btn-info float-end" type="button" value="24h">
						</div>
					</div>
					<canvas style="width:100%;padding-bottom:10px;" id="chart"></canvas>

					<hr class="my-3 d-lg-none">
				</div>
				<div class="p-0 col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12">
					<h4 class="p-3">Top 10 holders</h4>
					<div id="holdersLoading"> 
						<div id="holdersLoadingInner">
							<img id="loadingImg" src="./images/logo.png">
						</div>
					</div>
					<table id="holdersTable" style="display:none; border-left: 0 !important;" class="table table-dark table-striped m-0">
						<thead>
							<tr>
								<th scope="col">Address</th>
								<th class="" scope="col">Balance</th>
								<th>Percent</th>
							</tr>
						</thead>

						<tbody id="holdersTableBody">

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	{% include "partials/error-message.njk" %}

	{% include "partials/loading.njk" %}

	<br>

	<div id="nftImageFullBack" onclick="hideFullImgPreview()">
		<div id="nftImageFullHolder">	
			<img id="nftImageFull"></div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.1/chart.umd.min.js" integrity="sha512-UcCmTcAm3IkzrswF+WqvwWSjsnv8nsJpDL09KHCETWS0g0WjoIZDRUYXCeHeow1cEij0kqL9OwRwirv/xCQ6GA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="./scripts/common/prices.js?v=16"></script>
	<script src="./scripts/common/nft.js?v=16"></script>
	<script src="./scripts/token.js?v=16"></script>
{% endblock %}