{% extends "layout.njk" %}

{% block styles %}
	<!-- build:css styles/transactions.css -->
	<link rel="stylesheet" href="styles/transactions.css">
	<!-- endbuild -->
{% endblock %}

{% block navigation %}
		{% import 'macros/nav-macro.njk' as nav %}
		{{nav.active('')}}
{% endblock %}

{% block content %}
	<div class="row w-100">
		<div class="col-md-12">
			<h2>Transaction</h2>
		</div>
	</div>
	<br>
	<div id="txDataHolder" style="display: none;" class="col-md-12">
		<div class="row w-100 div-cell-dark border-bottom-flat">
			<div id="txHeader" class="col-9">
			</div>
			<div id="txTime" class="col-3 d-flex justify-content-end">
			</div>
		</div>

		<div class="row w-100 two-column-holder-top-flat-md">
			<div class="col-md-6 div-cell-dark border-top-flat">
				<div class="row w-100">
					<div class="col-6">
						<p><strong>Size</strong></p>
						<p><strong>Received time</strong></p>
						<p><strong>Included in blocks</strong></p>
						<p><strong>Confirmations</strong></p>
					</div>
					<div class="col-6">
						<p id="txSize"></p>
						<p id="txReceivedTime"></p>
						<p id="txIncludedInBlocks"></p>
						<p id="txConfirmations"></p>
					</div>
				</div>
			</div>
			<div class="col-md-6 div-cell-dark border-top-flat">
				<div class="row w-100">
					<div class="col-6">
						<p><strong>Total coins transferred</strong></p>
						<p><strong>Fees</strong></p>
						<p><strong>Fees per byte</strong></p>
					</div>
					<div class="col-6">
						<p id="txTotalCoinsTransferred"></p>
						<p id="txFees"></p>
						<p id="txFeesPerByte"></p>
					</div>
				</div>
			</div>
		</div>

		<br>

		<div class="row w-100 two-column-holder two-column-holder-md">
			<div class="col-md-6 div-cell-dark p-0">
				<h2 class="p-3">Inputs</h2>
				<div id="txInputs">
				</div>
			</div>
			<div class="col-md-6 div-cell-dark p-0 mt-4 mt-md-0">
				<h2 class="p-3">Outputs</h2>
				<div id="txOutputs">
				</div>
			</div>
		</div>

		<br>

		<div class="row w-100">
			<div class="col-12 div-cell-dark">
				<h2>Raw inputs</h2>
				<br>
				<pre id="txRawInput"></pre>
			</div>
		</div>

		<br>

		<div class="row w-100">
			<div class="col-12 div-cell-dark">
				<h2>Raw outputs</h2>
				<br>
				<pre id="txRawOutput"></pre>
			</div>
		</div>
	</div>

	{% include "partials/error-message.njk" %}

	{% include "partials/loading.njk" %}

	<br>
{% endblock %}

{% block scripts %}
		<script src="./scripts/common/prices.js?v=10"></script>
		<script src="./scripts/transactions.js?v=10"></script>
{% endblock %}