{% extends "layout.njk" %}

{% block styles %}
	<!-- build:css styles/transactions.css -->
	<link rel="stylesheet" href="styles/transactions.css">
	<!-- endbuild -->
{% endblock %}

{% block navigation %}
		{% import 'macros/nav-macro.njk' as nav %}
		{{nav.active('')}}
{% endblock %}

{% block content %}
	<div class="row w-100">
		<div class="col-md-12 mb-3 mb-md-4">
			<h2 class="m-0">Transaction</h2>
		</div>
	</div>
	<div id="txDataHolder" style="display: none;" class="col-md-12">
		<div class="row w-100 div-cell-dark border-bottom-flat p-2 p-lg-3 ps-lg-1 pe-lg-1">
			<div id="txHeader" class="col-9 d-none d-lg-block">
			</div>
			<div id="txHeaderMobile" class="col-6 col-lg-9 d-block d-lg-none ps-0 pe-0 ps-md-2 pe-md-2">
			</div>
			<div id="txTime" class="col-6 col-lg-3 d-flex justify-content-end ps-0 pe-0 pe-md-2 pe-lg-3">
			</div>
		</div>

		<div id="infoTop" class="row w-100 two-column-holder-top-flat-md d-none">
			<div class="col-md-6 div-cell-dark border-top-flat p-0">
				<div class="row w-100">
					<table class="table-dark table-striped div-table">
						<tbody>
							<tr>
								<td><strong>Size</strong></td>
								<td id="txSize"></td>
							</tr>
							<tr>								
								<td><strong>Received time</strong></td>
								<td id="txReceivedTime"></td>
							</tr>
							<tr>								
								<td><strong>Included in blocks</strong></td>
								<td id="txIncludedInBlocks"></td>
							</tr>
							<tr>								
								<td><strong>Confirmations</strong></td>
								<td id="txConfirmations"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6 div-cell-dark border-top-flat p-0">
				<div class="row w-100">
					<table class="table-dark table-striped div-table">
						<tbody>
							<tr>
								<td><strong>Total coins transferred</strong></td>
								<td id="txTotalCoinsTransferred"></td>
							</tr>
							<tr>								
								<td><strong>Fees</strong></td>
								<td id="txFees"></td>
							</tr>
							<tr>								
								<td><strong>Fees per byte</strong></td>
								<td id="txFeesPerByte"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div id="ioHolder" class="row w-100 two-column-holder-top-flat two-column-holder-top-flat-md border-top-flat">
			<div class="col-md-6 div-cell-dark border-top-flat p-0">
				<h2 class="p-3 ps-2 ps-md-3 m-0">Inputs</h2>
				<div id="txInputs">
				</div>
			</div>
			<div class="col-md-6 div-cell-dark border-top-flat p-0 mt-4 mt-md-0">
				<h2 class="p-3 ps-2 ps-md-3 m-0">Outputs</h2>
				<div id="txOutputs">
				</div>
			</div>
		</div>

		<br>

		<div id="burnedHolder" class="row w-100 d-none ">
			<div class="col-12 div-cell-dark border-bottom-flat">
				<h2>Burned Assets</h2>
			</div>
			<div id="burnedData" class="col-12 div-cell-dark border-top-flat" style="background-color: var(--striped-1);">
				
			</div>
		</div>

		<div id="burnedSpacer">		
			<br>
		</div>

		<div id="infoBottom" class="row w-100 two-column-holder-top-flat-md d-flex">
		</div>
		
		<br>

		<div class="row w-100">
			<div class="col-12 div-cell-dark">
				<h2>Raw inputs</h2>
				<br>
				<pre id="txRawInput"></pre>
			</div>
		</div>

		<br>

		<div class="row w-100">
			<div class="col-12 div-cell-dark">
				<h2>Raw outputs</h2>
				<br>
				<pre id="txRawOutput"></pre>
			</div>
		</div>
	</div>

	{% include "partials/error-message.njk" %}

	{% include "partials/loading.njk" %}

	<br>
{% endblock %}

{% block scripts %}
		<script src="./scripts/common/prices.js?v=39"></script>
		<script src="./scripts/transactions.js?v=39"></script>
{% endblock %}