$orange-color: #FF6020;
$orange-color-hover: #FF8418;
$gray-color: #AAAAAA;
$gray-1: #272121;
$gray-3: #333;
$gray-5: #4f4f4f;
$gray-9: #999;
$gray-c: #CCC;

/*
$orange-color: #FF6020;
$orange-color-hover: #FF8418;
$gray-color: #444;
$gray-1: #e3e3e3;
$gray-3: #f5f5f5;
$gray-5: #aaa;
$gray-9: #555;
$gray-c: #555;
*/