@import './vars';

#txHolder {
  height: 78px;
}

#tx {
  position: absolute;
  width: 100%;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $gray-3;
  border-top: 1px solid $gray-5;
  border-bottom: 1px solid $gray-5;
}

.ticker-img {
  display: inline-block;
  width: 35px;
  height: 35px;
}

.index-card-values {
  font-size: 1.1em;
}

.index-card-symbol {
  font-size: 3rem;
}

.index-card-symbol-holder {
  width: 4em;
}

[data-bs-theme="light"] {

}