#nftSwitchHolder {
	margin-bottom: 0;
}

#nftSwitchHolder > label {
	line-height: 38px;
	padding-left: 10px;
}

label {
	font-size: 1.2em;
	min-width: 60px;
	line-height: 42px;
	margin-bottom: 0 !important;
	margin-right: 2px;
}