audio {
	width: 100%;
}

video {
	width: 100%;
}

#tokenDataLeft > div:nth-child(odd), #nftInfoHolder > div:nth-child(odd) {
	background-color: #333;
}

#tokenDescription {
	overflow-wrap: anywhere;
}

#nftPreviewImgHolder {
	position: relative;
	text-align: center;
	min-height: 200px;
	background-color: #000;
}

#nftPreviewImg {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

#tokenIcon {
	text-align: right;
}

#tokenIconImg {
	width: 88px;
	height: 88px;
}

#nftImageFullBack {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00000099;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

#nftImageFull {
	width: auto;
	max-height: 80vh;
	max-width: 100%;
}

#nftPreviewAudio {
	min-height: 0;
	height: 40px;
}