@import './vars';

#txInputs > div:nth-child(odd), #txOutputs > div:nth-child(odd) {
	background-color: $gray-3;
}

#txInputs > div, #txOutputs > div {
	border-radius: 0;
}

#txRawInput, #txRawOutput {
	overflow-wrap: anywhere;
	white-space: break-spaces;
}