{% macro active(activePage = 'home') %}
<!-- Navigation Menu -->
<nav class="navbar navbar-expand-md navbar-dark p-1">
    <div class="container-fluid">
        <ul class="navbar-nav ms-auto navbar-nav ms-auto d-none d-md-block" style="position: absolute; left: 15px;">
            <a class="navbar-brand" href="/"><img src="./images/logo.png" alt="Erg" height="30"></a>
        </ul>
        <a class="navbar-brand d-block d-md-none" href="/"><img src="./images/logo.png" alt="Logo" height="35"></a></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNav">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link {%if activePage == 'issued-tokens' %} active {% endif %}" href="issued-tokens">Tokens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if activePage == 'latest-blocks' %} active {% endif %}" href="latest-blocks">Blocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if activePage == 'mempool' %} active {% endif %}" href="mempool">Mempool</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if activePage == 'addressbook' %} active {% endif %}" href="addressbook">Address book</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link {%if activePage == 'about' %} active {% endif %}" href="about">About</a>
                </li>
                <li class="nav-item d-block d-md-none">
                    <div id="dropdown" class="dropdown nav-link">
                        <a class="btn nav-link dropdown-toggle text-light p-0 p-md-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="networkType">Mainnet</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" onclick="switchToMainnet(event)">Mainnet</a></li>
                            <li><a class="dropdown-item" href="#" onclick="switchToTestnet(event)">Testnet</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item d-block d-md-none">
                    <a style="line-height:36px;text-align:center;" class="nav-link" href="#" onclick="switchTheme(event);" id="themeSwitch"><i class="fas fa-moon"></i></a>
                </li>
            </ul>
            <div id="rightNav" class="d-none d-lg-block"><span></span></div>
            <ul class="navbar-nav ms-auto"  style="position: absolute; right: 15px;">
                <li class="nav-item">
                    <div id="dropdown" class="dropdown nav-link">
                        <a class="btn nav-link dropdown-toggle text-light p-0 p-md-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="networkType">Mainnet</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" onclick="switchToMainnet(event)">Mainnet</a></li>
                            <li><a class="dropdown-item" href="#" onclick="switchToTestnet(event)">Testnet</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a style="line-height:36px;text-align:center;" class="nav-link" href="#" onclick="switchTheme(event);" id="themeSwitch"><i class="fas fa-moon"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endmacro %}