{% macro active(activePage = 'home') %}
<!-- Navigation Menu -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="./images/logo.png" alt="Erg" height="30"> <span>Explorer (Alpha)</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNav">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link {%if activePage == 'home' %} active {% endif %}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if activePage == 'issued-tokens' %} active {% endif %}" href="issued-tokens">Tokens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if activePage == 'latest-blocks' %} active {% endif %}" href="latest-blocks">Blocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if activePage == 'mempool' %} active {% endif %}" href="mempool">Mempool</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if activePage == 'about' %} active {% endif %}" href="about">About/Donate</a>
                </li>
            </ul>
            <div id="rightNav" class="d-none d-md-block"><span>111111111111111</span></div>
            <ul class="navbar-nav ms-auto">
                <div id="dropdown" class="dropdown">
                    <a id="networkType" class="btn dropdown-toggle text-light p-0 p-md-1 pt-2 pb-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mainnet</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" onclick="switchToMainnet(event)">Mainnet</a></li>
                        <li><a class="dropdown-item" href="#" onclick="switchToTestnet(event)">Testnet</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>
{% endmacro %}