<div id="loadError" style="display: none;" class="col-md-12">
	<div class="row w-100">
		<div class="col-md-12 div-cell">
			<p id="loadErrorMessage"></p>
			<br>
			<p><strong>NOTE:</strong> Erg Explorer is still in <strong>alpha</strong> phase. Plase report any issues you encounter in our <strong><a href="https://t.me/ErgExplorer" target="_new">Telegram group</a></strong>.</p>
		</div>
	</div>
</div>