<footer class="footer">
    <div class="container text-center">
        &copy; Erg Explorer <span id="cyear"></span> - <a class="footer-donate" href="addresses/9hW2SRFsgRVwfNdDMjYFnQnctfv9RtkWkRz5WyiGFQFD44S1SrP">Donate <span class="footer-heart" aria-hidden="true">&hearts;</span></a>
    </div>
</footer>