<footer class="footer">
    <div class="container text-center">
        &copy; Erg Explorer 2024 - <a href="addresses/9hiaAS3pCydq12CS7xrTBBn2YTfdfSRCsXyQn9KZHVpVyEPk9zk">Donate <span style="color:pink;">&hearts;</span></a>
    </div>
</footer>