<nav id="pagination" aria-label="Page navigation">
	<ul class="pagination justify-content-center">
		<li id="" class="page-item firstPageHolder">
			<a id="" class="page-link firstPage" href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li id="" class="page-item previousPageHolder">
			<a id ="" class="page-link previousPage" href="#" aria-label="Previous">
				<span aria-hidden="true">&lsaquo;</span>
			</a>
		</li>
		<li style="cursor: pointer;" class="page-item"><a id="" class="page-link pageNum" onclick="enterPageNum(event)">1 of 1</a></li>
		<li id="" class="page-item nextPageHolder">
			<a id="" class="page-link nextPage" href="#" aria-label="Next">
				<span aria-hidden="true">&rsaquo;</span>
			</a>
		</li>
		<li id="" class="page-item lastPageHolder">
			<a id="" class="page-link lastPage" href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>