<!-- Search Box -->
<div class="d-flex justify-content-center align-items-center h-100">
	<div class="row w-100">
    	<div class="col-md-8 col-lg-6 mx-auto">
    		<div class="input-group mb-3">
				<input id="searchInput" type="text" class="form-control form-control-lg" placeholder="Search for wallet address" onkeydown="submitSearch(event)">
				<button onclick="searchAddress()" class="btn btn-lg btn-primary" type="button"><i class="fas fa-search"></i></button>
     		</div>
    	</div>
 	</div>
</div>
<br>