<!doctype html>
<html id="index" class="no-js" data-bs-theme="light" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Erg Explorer - Ergo blockchain explorer</title>

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="favicon.png">
		<link rel="apple-touch-icon" type="image/png" href="apple-touch-icon.png">

		<!-- Bootstrap 5 CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <!-- Additional theme file -->
        <link id="additionalTheme" href="" rel="stylesheet" media="(prefers-color-scheme: dark)">

		<!-- Font Awesome CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

		<link rel="stylesheet" href="styles/vars.css">

		<!-- build:css styles/main.css -->
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->
				
		{% block styles %}{% endblock %}

        <script type="text/javascript">
        	var theme = 'dark';

        	function updateTheme() {   
				theme = localStorage.getItem('theme');

				if (theme == undefined) {
					theme = 'dark';
				}

				document.getElementById('index').setAttribute('data-bs-theme', theme);

				if (theme == 'dark') {
                    document.getElementById('additionalTheme').setAttribute('href', 'https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-nightfall.min.css');
				} else {
					document.getElementById('additionalTheme').setAttribute('href', '');
				}
        	}

        	updateTheme();
        </script>

		<!-- SEO -->
		<meta name="description" content="Discover Erg Explorer: Your independent gateway to exploring Ergo blockchain's blocks, addresses, transactions, tokens, and more.">
		<meta name="keywords" content="ergo, erg, blockchain, explorer, tool, browser, transaction, block, token, nft, scan, wallet, search, address, explore">
		<meta name="author" content="Aco Šmrkas">

		<meta property="og:title" content="Erg Explorer - Ergo blockchain explorer" />
		<meta property="og:description" content="Discover Erg Explorer: Your independent gateway to exploring Ergo Blockchain's blocks, addresses, transactions, tokens, and more." />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Erg Explorer - Ergo blockchain explorer" />
		<meta property="og:url" content="https://ergexplorer.com" />
		<meta property="og:image" content="https://ergexplorer.com/images/logo.png" />
		<meta property="og:image:url" content="https://ergexplorer.com/images/logo.png" />
		<meta property="og:image:alt" content="Visit Ergexplorer.com" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="Erg Explorer - Ergo blockchain explorer" />
		<meta property="twitter:description" content="Discover Erg Explorer: Your independent gateway to exploring Ergo Blockchain's blocks, addresses, transactions, tokens, and more." />
		<meta name="twitter:site" content="@ergexplorer" />
		<meta property="twitter:image" content="https://ergexplorer.com/images/logo.png" />

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-84SMBQLNNF"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-84SMBQLNNF');
		</script>

	</head>

	<body >

		{% block navigation %}{% endblock %}

		<!-- Page Content -->
		<div class="container p-0">
			<br>

			{% include "partials/search-form.njk" %}

			<div class="row w-100">
				<div class="col div-summary">
					<p>
					<strong><span class="erg-span">NOTE</span>:</strong> Erg Explorer is still in its <strong><span class="erg-span">beta</span></strong> development phase. Please report any issues you encounter in our <strong><a href="https://t.me/ErgExplorer" target="_new">Telegram group</a></strong>.
					</p>
					<p style="display: hidden;"><strong>Official Ergo Explorer link:</strong> <a target="_new" id="officialLink" href="https://explorer.ergoplatform.com">https://explorer.ergoplatform.com</a></p>
				</div>
			</div>

			<br>

			{% block content %}{% endblock %}
		</div>
	
		<!-- Footer -->
		{% include "partials/footer.njk" %}

		<!-- Bootstrap Toast -->
		<div class="toast-container position-fixed bottom-0 end-0 p-3">
			<div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
				<div id="toastBody" class="toast-body">
					Copied to clipboard!
				</div>
			</div>
		</div>

		<!-- JQuery JavaScript -->
		<script	src="https://code.jquery.com/jquery-3.6.4.min.js"
			integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
			crossorigin="anonymous"></script>

		<!-- Bootstrap 5 JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

		<!-- Custom JavaScript -->
		<script src="./scripts/common/config.js?v=12"></script>
		<script src="./scripts/common/token-icons.js?v=12"></script>
		<script src="./scripts/common/params.js?v=12"></script>
		<script src="./scripts/main.js?v=12"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>